{% liquid
	assign lazy_load = false

	if section.index > 1
		assign lazy_load = true
	endif

	assign product_list = section.settings.product_list
%}

{% if product_list != blank %}
	{%- style -%}
		.section-{{ section.id }}-padding {
		  padding-top: {{ section.settings.mob_padding_top }}px;
		  padding-bottom: {{ section.settings.mob_padding_bottom }}px;
		}

		@media screen and (min-width: 750px) {
		  .section-{{ section.id }}-padding {
		    padding-top: {{ section.settings.padding_top }}px;
		    padding-bottom: {{ section.settings.padding_bottom }}px;
		  }
		}
	{%- endstyle -%}

	<div
		class="comparator-products-list gradient color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
		data-ax-section="comparatorProductsList"
		role="region"
	>
		<div class="page-width">
			<ul
				class="comparator-products-list__wrapper grid grid--2-col grid--{{ section.settings.columns_desktop }}-col-desktop{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
				{% if settings.animations_reveal_on_scroll %}
					data-cascade
				{% endif %}
				aria-label="{{ 'accessibility.compare_products' | t }}"
			>
				{% for product in product_list %}
					{%- liquid
						# Vérifie si le produit est masqué via metafield seo.hidden
						if product.metafields.seo.hidden.value == 1
							continue
						endif
					-%}
					<li
						class="comparator-products-list__item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
						{% if settings.animations_reveal_on_scroll %}
							data-cascade
							style="--animation-order: {{ forloop.index }};"
						{% endif %}
					>
						{% render 'card-product',
							card_product: product,
							media_aspect_ratio: 'portrait',
							image_shape: 'default',
							show_secondary_image: true,
							show_vendor: false,
							show_rating: false,
							lazy_load: true,
							skip_styles: true,
							quick_add: false,
							section_id: section.id,
							show_scores: true,
							show_extended_scores: true
						%}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
{% schema %}
	{
		"name": "Ax liste comparaison",
		"tag": "section",
		"class": "section",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "header",
				"content": "Produits"
			},
			{
				"type": "product_list",
				"id": "product_list",
				"label": "Liste de produits"
			},
			{
				"type": "range",
				"id": "columns_desktop",
				"min": 1,
				"max": 4,
				"step": 1,
				"label": "Nombre de colonnes (desktop)",
				"default": 4
			},
			{
				"type": "header",
				"content": "Color"
			},
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "Color scheme",
				"default": "background-1"
			},
			{
				"type": "header",
				"content": "Padding (space)"
			},
			{
				"type": "range",
				"id": "mob_padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "(Mobile) Padding top",
				"default": 0
			},
			{
				"type": "range",
				"id": "mob_padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "(Mobile) Padding bottom",
				"default": 0
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "Padding top",
				"default": 0
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "Padding bottom",
				"default": 0
			}
		],
		"blocks": [],
		"presets": [
			{
				"name": "Ax liste comparaison",
				"blocks": []
			}
		]
	}
{% endschema %}
