{%- liquid
	assign subheading = section.blocks | where: 'type', 'subheading' | first
	assign heading = section.blocks | where: 'type', 'heading' | first
	assign text = section.blocks | where: 'type', 'text' | first
	assign button = section.blocks | where: 'type', 'button' | first
	assign rtb_block = section.blocks | where: 'type', 'rtb' | first

	assign has_video = false
	if section.settings.video != blank
		assign has_video = true
	endif
	assign has_media = false
	if section.settings.image != blank or has_video
		assign has_media = true
	endif
-%}

{%- if has_media
	and heading != blank
	or subheading != blank
	or text != blank
	or button != blank
-%}
	{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
	{{ 'bundle.image-with-text.css' | asset_url | stylesheet_tag }}
	{{ 'bundle.image-with-text-rtb.css' | asset_url | stylesheet_tag }}

	{%- style -%}
		.section-{{ section.id }}-padding {
		  padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
		  padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
		}

		@media screen and (min-width: 750px) {
		  .section-{{ section.id }}-padding {
		    padding-top: {{ section.settings.padding_top }}px;
		    padding-bottom: {{ section.settings.padding_bottom }}px;
		  }
		}

		{%- if section.settings.overlay -%}
			#shopify-section-{{ section.id }} .image-with-text__media::before { background: rgba(0, 0, 0,
				{{ section.settings.overlay_opacity }});
			}
		{%- endif -%}

		{%- if section.settings.mobile_layout == 'text_first' -%}
			@media screen and (max-width: 989px) {
				#shopify-section-{{ section.id }} .image-with-text__grid {
					display: flex;
					flex-direction: column;
				}
				#shopify-section-{{ section.id }} .image-with-text__media-item {
					order: 2;
				}
				#shopify-section-{{ section.id }} .image-with-text__text-item {
					order: 1;
				}
			}
		{%- endif -%}

		{% if button != blank %}
			#shopify-section-{{ section.id }} .button {
				{% if button.settings.button_alignment == 'left' %}
					margin-right: auto;
				{% elsif button.settings.button_alignment == 'right' %}
					margin-left: auto;
				{% endif %}
			}
		{%- endif -%}
	{%- endstyle -%}

	{%- liquid
		assign fetch_priority = 'high'
		assign loading = 'eager'
		assign lazy_load = false
		if section.index > 2
			assign fetch_priority = 'auto'
			assign loading = 'lazy'
			assign lazy_load = true
		endif
		if section.settings.color_scheme == section.settings.section_color_scheme
			assign remove_color_classes = true
		endif

		assign accessibility_alt = 'accessibility.image_description' | t
		assign alt_img = section.settings.image.alt | default: accessibility_alt

		assign button = section.blocks | where: 'type', 'button' | first
	-%}

	<div
		class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}"
		role="region"
		aria-label="{% if section.settings.heading != blank %}{{ section.settings.heading }}{% else %}{{ 'sections.ax_image_with_text.section_title' | t }}{% endif %}"
	>
		{%- unless section.settings.full_width -%}
			<div class="page-width">
		{%- endunless -%}
		<div class="image-with-text isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
			<div class="image-with-text__grid{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
				<div class="image-with-text__media-item image-with-text__media-item--middle image-with-text__grid-item">
					<div class="image-with-text__media-wrapper">
						<div
							class="image-with-text__media{% if section.settings.image_restricted_width %} media--restricted-width{% endif %}{% if section.settings.image_adapted_height_with_content %} media--adapted-height-with-content{% endif %}{% if section.settings.contain_image %} media--contain{% if section.settings.layout == 'text_first' %} media--contain--right{% else %} media--contain--left{% endif %}{% endif %}{% if section.settings.overlay %} overlay{% endif %} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if has_media %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
							role="img"
							aria-label="{% if section.settings.image.alt != blank %}{{ section.settings.image.alt | escape }}{% else %}{{ alt_img }}{% endif %}"
						>
							{%- unless has_video -%}
							{%- if section.settings.image -%}
								{%- capture media_image -%}
									<picture>
										{%- if section.settings.image_mobile -%}
											<source
											media="(max-width: 450px)"
											srcset="{{ section.settings.image_mobile | image_url: width: 450 }} 1x, {{ section.settings.image_mobile | image_url: width: 900 }} 2x"
										>
										{%- if section.settings.image_mobile.width >= 500 -%}
											<source
												media="(max-width: 500px)"
												srcset="{{ section.settings.image_mobile | image_url: width: 500 }} 1x, {{ section.settings.image_mobile | image_url: width: 1000 }} 2x"
											>
										{%- endif -%}
										{%- if section.settings.image_mobile.width >= 600 -%}
											<source
												media="(max-width: 600px)"
												srcset="{{ section.settings.image_mobile | image_url: width: 600 }} 1x, {{ section.settings.image_mobile | image_url: width: 1200 }} 2x"
											>
										{%- endif -%}
										{%- if section.settings.image_mobile.width >= 700 -%}
											<source
												media="(max-width: 700px)"
												srcset="{{ section.settings.image_mobile | image_url: width: 700 }} 1x, {{ section.settings.image_mobile | image_url: width: 1400 }} 2x"
											>
										{%- endif -%}
									{%- else -%}
										{%- if section.settings.image.width >= 330 -%}
											<source
												media="(max-width: 330px)"
												srcset="{{ section.settings.image | image_url: width: 330 }} 1x, {{ section.settings.image | image_url: width: 660 }} 2x"
											>
										{%- endif -%}
										{%- if section.settings.image.width >= 375 -%}
											<source
												media="(max-width: 375px)"
												srcset="{{ section.settings.image | image_url: width: 375 }} 1x, {{ section.settings.image | image_url: width: 750 }} 2x"
											>
										{%- endif -%}
										{%- if section.settings.image.width >= 400 -%}
											<source
												media="(max-width: 400px)"
												srcset="{{ section.settings.image | image_url: width: 400 }} 1x, {{ section.settings.image | image_url: width: 800 }} 2x"
											>
										{%- endif -%}
										{%- if section.settings.image.width >= 450 -%}
											<source
												media="(max-width: 450px)"
												srcset="{{ section.settings.image | image_url: width: 450 }} 1x, {{ section.settings.image | image_url: width: 900 }} 2x"
											>
										{%- endif -%}
										{%- if section.settings.image.width >= 550 -%}
											<source
												media="(max-width: 550px)"
												srcset="{{ section.settings.image | image_url: width: 550 }} 1x, {{ section.settings.image | image_url: width: 1100 }} 2x"
											>
										{%- endif -%}
									{%- endif -%}
									{%- if section.settings.image.width >= 768 -%}
										<source
											media="(max-width: 768px)"
											srcset="{{ section.settings.image | image_url: width: 768 }} 1x, {{ section.settings.image | image_url: width: 1536 }} 2x"
										>
									{%- endif -%}
									{%- if section.settings.image.width >= 1280 -%}
										<source
											media="(max-width: 1280px)"
											srcset="{{ section.settings.image | image_url: width: 1280 }} 1x, {{ section.settings.image | image_url: width: 2560 }} 2x"
										>
									{%- endif -%}
									{%- if section.settings.image.width >= 1366 -%}
										<source
											media="(max-width: 1366px)"
											srcset="{{ section.settings.image | image_url: width: 1366 }} 1x, {{ section.settings.image | image_url: width: 2732 }} 2x"
										>
									{%- endif -%}
									{%- if section.settings.image.width >= 1440 -%}
										<source
											media="(max-width: 1440px)"
											srcset="{{ section.settings.image | image_url: width: 1440 }} 1x, {{ section.settings.image | image_url: width: 2880 }} 2x"
										>
									{%- endif -%}
									{%- if section.settings.image.width >= 1600 -%}
										<source
											media="(max-width: 1600px)"
											srcset="{{ section.settings.image | image_url: width: 1600 }} 1x, {{ section.settings.image | image_url: width: 3200 }} 2x"
										>
									{%- endif -%}
									<img
										src="{{ section.settings.image | image_url: width: section.settings.image.width }}"
										srcset="{{ section.settings.image | image_url: width: section.settings.image.width }}"
										alt="{% if section.settings.image.alt != blank %}{{ section.settings.image.alt | escape }}{% else %}{{ alt_img }}{% endif %}"
										width="{{ section.settings.image.width }}"
										height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round }}"
										loading="{{ loading }}"
										decoding="async"
										fetchpriority="{{ fetch_priority }}"
									>
								</picture>
							{% endcapture %}
								{% if lazy_load %}
									{{ media_image | replace: 'src=', 'lazy-src=' | replace: 'srcset=', 'lazy-srcset=' }}
								{% else %}
									{{ media_image }}
								{% endif %}
							{%- else -%}
								{{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
							{%- endif -%}
							{%- else -%}
								{%- liquid
									assign main_poster = section.settings.image | default: section.settings.video.preview_image
									assign poster_width = main_poster.width | default: 1920
									assign poster_height = main_poster.height | default: 1080
								-%}
								{%- capture media_video -%}
									<video
										autoplay
										loop
										muted
										playsinline
										lazy-source
										{%- if main_poster != blank %} poster="{{ main_poster | image_url: width: 1920 }}"{%- endif %}
										width="{{ poster_width }}"
										height="{{ poster_height }}"
										aria-label="{% if section.settings.video.alt != blank %}{{ section.settings.video.alt | escape }}{% else %}{{ 'accessibility.video_description' | t }}{% endif %}"
										aria-describedby="video-description-{{ section.id }}"
									>
										{%- if section.settings.video_mobile != blank -%}
											<source
												src="{{ section.settings.video_mobile.sources[1].url }}"
												type="video/mp4"
												media="(max-width: 749px)"
											>
										{%- endif -%}
										{%- if section.settings.video != blank -%}
											<source
												src="{{ section.settings.video.sources[1].url }}"
												type="video/mp4"
												{%- if section.settings.video_mobile != blank %} media="(min-width: 750px)"{%- endif -%}
											>
										{%- endif -%}
										<p id="video-description-{{ section.id }}" class="visually-hidden">{% if section.settings.video.alt != blank %}{{ section.settings.video.alt | escape }}{% else %}{{ 'accessibility.video_description' | t }}{% endif %}</p>
									</video>
								{%- endcapture -%}
								{%- if lazy_load -%}
									{{ media_video | replace: 'src=', 'lazy-src=' | replace: 'srcset=', 'lazy-srcset=' }}
								{%- else -%}
									{{ media_video }}
								{%- endif -%}
							{%- endunless -%}
						</div>
					</div>
				</div>
				<div class="image-with-text__text-item image-with-text__grid-item">
					<div
						id="ImageWithText--{{ section.id }}"
						class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-{{ section.settings.text_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_text_alignment }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.no_vertical_padding %} no-vertical-padding{% endif %}"
					>
						{%- render 'section-heading',
							heading: heading.settings.heading,
							subheading: subheading.settings.subheading,
							text_alignment: section.settings.text_alignment,
							heading_size: 'h2',
							heading_class: heading.settings.heading_size,
							heading_picto: heading.settings.picto,
							heading_picto_size: heading.settings.picto_size,
							heading_picto_size_mobile: heading.settings.picto_size_mobile
						-%}
						{%- if rtb_block != blank and rtb_block.settings.rtb_metaobject != blank -%}
							{%- liquid
								assign rtb_metaobject = rtb_block.settings.rtb_metaobject
								assign rtb_images = rtb_metaobject.images.value
							-%}
							{%- if rtb_images != blank and rtb_images.size > 0 -%}
								<div class="image-with-text__rtb" {{ rtb_block.shopify_attributes }}>
									{%- for rtb_image in rtb_images limit: 4 -%}
										<div class="image-with-text__rtb-item">
											{%- liquid
												assign rtb_image_widths = '100, 120, 160, 240'
												assign rtb_image_sizes = '(max-width: 749px) 120px, (max-width: 989px) 80px, 120px'
												assign rtb_image_alt = rtb_image.alt | escape | default: 'RTB image'
											-%}
											{% if section.index == 1 %}
												{{ rtb_image | image_url: width: 120 | image_tag: width: 120, height: 120, loading: 'lazy', alt: rtb_image_alt, widths: rtb_image_widths, sizes: rtb_image_sizes }}
											{% else %}
												{{ rtb_image | image_url: width: 120 | image_tag: width: 120, height: 120, loading: 'lazy', alt: rtb_image_alt, widths: rtb_image_widths, sizes: rtb_image_sizes | replace: 'src=', 'lazy-src=' | replace: 'srcset=', 'lazy-srcset=' }}
											{% endif %}
										</div>
									{%- endfor -%}
								</div>
							{%- endif -%}
						{%- endif -%}
						{%- if text.settings.text != blank -%}
							{%- render 'section-heading',
								text_alignment: section.settings.text_alignment,
								picto: text.settings.picto,
								picto_size: text.settings.picto_size,
								picto_size_mobile: text.settings.picto_size_mobile,
								description: text.settings.text,
								description_hn_replace: text.settings.description_hn_replace,
								show_more: text.settings.show_more,
								text_max_lines: text.settings.text_max_lines,
								text_more: text.settings.text_more,
								text_less: text.settings.text_less,
								show_more_alignment: text.settings.show_more_alignment
							-%}
						{%- endif -%}
						{%- if button.settings.button_text != blank and button.settings.button_link != blank -%}
							{%- render 'link-style',
								link_label: button.settings.button_text,
								link_url: button.settings.button_link,
								link_style: button.settings.link_style,
								link_target: button.settings.link_blank,
								link_attributes: section.shopify_attributes
							-%}
						{%- endif -%}
					</div>
				</div>
			</div>
		</div>
		{%- unless section.settings.full_width -%}
			</div>
		{%- endunless -%}
	</div>
{%- endif -%}

{% schema %}
	{
		"name": "Ax Image with text - RTB",
		"class": "section ax-section ax-image-with-text ax-image-with-text-rtb",
		"tag": "section",
		"disabled_on": {
			"groups": ["header", "footer"]
		},
		"settings": [
			{
				"type": "header",
				"content": "Mise en page"
			},
			{
				"type": "checkbox",
				"id": "full_width",
				"label": "Largeur complète",
				"default": false
			},
			{
				"type": "select",
				"id": "text_alignment",
				"options": [
					{
						"value": "left",
						"label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
					},
					{
						"value": "center",
						"label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
					},
					{
						"value": "right",
						"label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
					}
				],
				"default": "center",
				"label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
			},
			{
				"type": "select",
				"id": "mobile_text_alignment",
				"options": [
					{
						"value": "left",
						"label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
					},
					{
						"value": "center",
						"label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
					},
					{
						"value": "right",
						"label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
					}
				],
				"default": "center",
				"label": "Alignement du texte sur mobile"
			},
			{
				"type": "checkbox",
				"id": "no_vertical_padding",
				"label": "Supprimer les espacements verticaux du contenu",
				"default": false
			},
			{
				"type": "header",
				"content": "Image / Vidéo"
			},
			{
				"type": "image_picker",
				"id": "image",
				"label": "t:sections.image-with-text.settings.image.label"
			},
			{
				"type": "image_picker",
				"id": "image_mobile",
				"label": "Image mobile"
			},
			{
				"type": "video",
				"id": "video",
				"label": "Vidéo",
				"info": "Si une vidéo est définie, elle remplace l'image."
			},
			{
				"type": "video",
				"id": "video_mobile",
				"label": "Vidéo mobile"
			},
			{
				"type": "checkbox",
				"id": "image_restricted_width",
				"label": "Largeur de l'image restreinte sur desktop",
				"default": false
			},
			{
				"type": "checkbox",
				"id": "image_adapted_height_with_content",
				"label": "Adapter la hauteur de l'image au contenu sur desktop",
				"default": false
			},
			{
				"type": "checkbox",
				"id": "contain_image",
				"label": "Rendu de l'image contenu",
				"default": false
			},
			{
				"type": "select",
				"id": "layout",
				"options": [
					{
						"value": "image_first",
						"label": "t:sections.image-with-text.settings.layout.options__1.label"
					},
					{
						"value": "text_first",
						"label": "t:sections.image-with-text.settings.layout.options__2.label"
					}
				],
				"default": "image_first",
				"label": "t:sections.image-with-text.settings.layout.label"
			},
			{
				"type": "select",
				"id": "mobile_layout",
				"options": [
					{
						"value": "image_first",
						"label": "t:sections.image-with-text.settings.layout.options__1.label"
					},
					{
						"value": "text_first",
						"label": "t:sections.image-with-text.settings.layout.options__2.label"
					}
				],
				"default": "image_first",
				"label": "Placement sur mobile"
			},
			{
				"type": "header",
				"content": "Overlay"
			},
			{
				"type": "checkbox",
				"id": "overlay",
				"label": "Ajouter un overlay",
				"default": true
			},
			{
				"type": "range",
				"id": "overlay_opacity",
				"min": 0,
				"max": 1,
				"step": 0.1,
				"label": "Image overlay opacity",
				"info": "Increase contrast for legible text.",
				"default": 0.2
			},
			{
				"type": "header",
				"content": "t:sections.image-with-text.settings.header_colors.content"
			},
			{
				"type": "color_scheme",
				"id": "section_color_scheme",
				"label": "t:sections.all.colors.label",
				"default": "scheme-1"
			},
			{
				"type": "color_scheme",
				"id": "color_scheme",
				"label": "t:sections.multirow.settings.container_color_scheme.label",
				"default": "scheme-1"
			},
			{
				"type": "header",
				"content": "t:sections.all.padding.section_padding_heading"
			},
			{
				"type": "range",
				"id": "padding_top",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_top",
				"default": 36
			},
			{
				"type": "range",
				"id": "padding_bottom",
				"min": 0,
				"max": 100,
				"step": 4,
				"unit": "px",
				"label": "t:sections.all.padding.padding_bottom",
				"default": 36
			}
		],
		"blocks": [
			{
				"type": "heading",
				"name": "Titre",
				"limit": 1,
				"settings": [
					{
						"type": "image_picker",
						"id": "picto",
						"label": "Picto"
					},
					{
						"type": "range",
						"id": "picto_size",
						"min": 0,
						"max": 200,
						"step": 2,
						"unit": "px",
						"label": "Taille du picto",
						"default": 24
					},
					{
						"type": "range",
						"id": "picto_size_mobile",
						"min": 0,
						"max": 200,
						"step": 2,
						"unit": "px",
						"label": "Taille du picto mobile",
						"default": 24
					},
					{
						"type": "richtext",
						"id": "heading",
						"default": "<p>Titre</p>",
						"label": "Titre"
					},
					{
						"type": "select",
						"id": "heading_size",
						"options": [
							{
								"value": "h3",
								"label": "t:sections.all.heading_size.options__1.label"
							},
							{
								"value": "h2",
								"label": "t:sections.all.heading_size.options__2.label"
							}
						],
						"default": "h2",
						"label": "t:sections.all.heading_size.label"
					}
				]
			},
			{
				"type": "subheading",
				"name": "Sur-titre",
				"limit": 1,
				"settings": [
					{
						"type": "inline_richtext",
						"id": "subheading",
						"label": "Sur-titre"
					}
				]
			},
			{
				"type": "text",
				"name": "Texte",
				"limit": 1,
				"settings": [
					{
						"type": "image_picker",
						"id": "picto",
						"label": "Picto"
					},
					{
						"type": "range",
						"id": "picto_size",
						"min": 0,
						"max": 200,
						"step": 2,
						"unit": "px",
						"label": "Taille du picto",
						"default": 24
					},
					{
						"type": "range",
						"id": "picto_size_mobile",
						"min": 0,
						"max": 200,
						"step": 2,
						"unit": "px",
						"label": "Taille du picto mobile",
						"default": 24
					},
					{
						"type": "richtext",
						"id": "text",
						"default": "<p>Texte</p>",
						"label": "Texte"
					},
					{
						"type": "checkbox",
						"id": "description_hn_replace",
						"label": "Remplacer les tags Hn",
						"default": false
					},
					{
						"type": "checkbox",
						"id": "show_more",
						"label": "Afficher le bouton 'Voir plus'",
						"default": false
					},
					{
						"type": "number",
						"id": "text_max_lines",
						"label": "Nombre de lignes à afficher",
						"default": 3
					},
					{
						"type": "text",
						"id": "text_more",
						"label": "Texte du bouton 'Voir plus'",
						"default": "Voir plus"
					},
					{
						"type": "text",
						"id": "text_less",
						"label": "Texte du bouton 'Voir moins'",
						"default": "Voir moins"
					},
					{
						"type": "select",
						"id": "show_more_alignment",
						"label": "Alignement du bouton 'Voir plus'",
						"options": [
							{ "value": "left", "label": "Gauche" },
							{ "value": "center", "label": "Centre" },
							{ "value": "right", "label": "Droite" }
						],
						"default": "center"
					}
				]
			},
			{
				"type": "button",
				"name": "Bouton",
				"limit": 1,
				"settings": [
					{
						"type": "text",
						"id": "button_text",
						"label": "Texte du bouton"
					},
					{
						"type": "url",
						"id": "button_link",
						"label": "Lien du bouton"
					},
					{
						"type": "checkbox",
						"id": "link_blank",
						"label": "Lien _blank",
						"info": "Ouvrir ce lien dans une nouvelle fenêtre",
						"default": false
					},
					{
						"type": "select",
						"id": "link_style",
						"options": [
							{
								"value": "button button--primary",
								"label": "Primary"
							},
							{
								"value": "button button--secondary",
								"label": "Secondary"
							},
							{
								"value": "ax-link",
								"label": "Link"
							},
							{
								"value": "ax-link reversed",
								"label": "Link inversé"
							},
							{
								"value": "underlined-link",
								"label": "Underline link"
							}
						],
						"default": "button button--primary",
						"label": "Style du bouton"
					},
					{
						"type": "select",
						"id": "button_alignment",
						"options": [
							{
								"value": "left",
								"label": "Gauche"
							},
							{
								"value": "",
								"label": "Centre"
							},
							{
								"value": "right",
								"label": "Droite"
							}
						],
						"default": "",
						"label": "Alignement du bouton"
					}
				]
			},
			{
				"type": "rtb",
				"name": "RTB",
				"limit": 1,
				"settings": [
					{
						"type": "metaobject",
						"id": "rtb_metaobject",
						"metaobject_type": "rtb",
						"label": "RTB Metaobject",
						"info": "Sélectionnez un métaobject RTB contenant les images circulaires (max 4)"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Ax Image with text - RTB",
				"blocks": [
					{
						"type": "subheading"
					},
					{
						"type": "heading"
					},
					{
						"type": "rtb"
					},
					{
						"type": "text"
					},
					{
						"type": "button"
					}
				]
			}
		]
	}
{% endschema %}
